<div class="note-list-container">
  <div class="controls">
    <button
      class="add-button"
      mat-mini-fab
      color="primary"
      aria-label="Add note button"
      title="Add Note"
      (click)="onAddNote()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="notes.length > 0" class="note-card-container">
    <app-note-card
      class="note-card"
      *ngFor="let note of notes"
      [title]="note.title"
      [noteContents]="note.contents"
      (cardClicked)="onEditNote(note.id)"
      (openFullScreenClicked)="onOpenNoteInFullscreen(note.id)"
      (deleteClicked)="onDeleteNote(note.id)"
    ></app-note-card>
  </div>
  <div *ngIf="notes.length === 0" class="no-contents-container">
    <img src="./assets/images/no-data.svg" alt="no data available" />
    <h2>No notes available</h2>
    <em>Add a note to get started!</em>
  </div>
</div>
