<div class="container">
  <div class="article-container">
    <h1>Angular v14 is now available!</h1>
    <img src="https://miro.medium.com/max/1400/0*z9S563bjEEZXQXyA" alt="" />
    <p>
      We are excited to announce the release of Angular v14! From typed forms
      and standalone components to new primitives in the Angular CDK (component
      dev kit), we’re excited to share how each feature makes Angular more
      powerful. Since our last release, we completed two major requests for
      comments (RFC), which provided an opportunity for the entire Angular
      community to provide design feedback on proposed changes. As a result, our
      Strictly Typed Reactive Forms RFC closed our #1 GitHub issue, and our
      Standalone APIs RFC introduced a simpler way to author Angular apps. We
      also renamed the default branch in our repositories in the Angular
      organization to main, moving forward on our commitment toward an inclusive
      community. In addition, this release includes many features and bug fixes
      directly contributed by community members, from adding router strong
      typing to more tree-shakable error messages. We are excited to highlight
      how RFCs and the community continue to make Angular a better default
      developer experience!
    </p>
  </div>
</div>
